*{
	margin:0;
	padding:0;
}

body {
    background-color: #fff;
    background-image: url("../images/tile_header.png");
    background-repeat: repeat-x;
    margin-top: 0;
}

#icon_links {
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    float: right;
    z-index: 1000;
}

.section_header {
    text-align:center;
    letter-spacing:0.2em;
    line-height:2em;
    margin-bottom:0;
}

.m_img {
    float:right;
    margin:0 auto;
}

.m_desc {
    float:left;
    margin-left:10px;
    position:relative;
    bottom:10px;
}

.m_name {
    float:left;
    margin-left:10px;
    font-family:Impact;
    letter-spacing:0.05em;
}

.m_name a {
    text-decoration: none;
    color: #353535;
}

.m_name a:hover {
    text-decoration: underline;
    color: #999999;
}    float:left;
    margin-left:10px;


header {
    margin-left:0 auto;
    margin-right:0 auto;
}


footer {
    margin-right:0 auto;
    margin-left:0 auto;
    margin-bottom:0 auto;
    margin-top:100px;
}

.fancollector {
    float: right;
    z-index: 100;
}

#navmap {
 width: 875px;
 height: 600px;
 background: url(../images/navmap.png);
 margin: 10px auto; padding: 0;
 position: relative;
}
#navmap li {margin: 0; padding: 0; list-style: none; display: block; position: absolute;}

#navmap a {display:block;}

#artists {left: 98px; top: 115px; width: 128px; height: 430px;}
#events {left: 266px; top: 472px; width: 190px; height: 130px;}
#galleries {left: 294px; top: 146px; width: 117px; height: 317px;}
#musicians {left: 424px; top: 228px; width: 208px; height: 177px;}
#store {left: 585px; top: 296px; width: 292px; height: 186px;}
#studio {left: 623px; top: 483px; width: 105px; height: 113px;}
#blog {left: 712px; top: 378px; width: 129px; height: 220px;}
#info {left: 425px; top: 335px; width: 159px; height: 265px;}

#artists a {height: 430px;}
#events a {height: 130px;}
#galleries a {height: 317px;}
#musicians a {height: 177px;}
#store a {height: 186px;}
#studio a {height: 113px;}
#blog a {height: 220px;}
#info a {height: 265px;}

#artists a:hover {background: url(../images/navmap.png) -98px -715px no-repeat;}
#events a:hover {background: url(../images/navmap.png) -266px -1072px no-repeat;}
#galleries a:hover {background: url(../images/navmap.png) -293px -1346px no-repeat;}
#musicians a:hover {background: url(../images/navmap.png) -424px -828px no-repeat;}
#store a:hover {background: url(../images/navmap.png) -584px -1496px no-repeat;}
#studio a:hover {background: url(../images/navmap.png) -622px -1683px no-repeat;}
#blog a:hover {background: url(../images/navmap.png) -712px -978px no-repeat;}
#info a:hover {background: url(../images/navmap.png) -425px -1535px no-repeat;}

/* Navigation */

nav {
  display: block;
  text-align: center;
  background-color: #999999;
}

nav {
  padding: 0;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0;
}

nav ul li a {
  display: inline-block;
  padding: 0 5px;
  margin: 0;
  font-weight: bold;
  font-size:1.1em;
  color: #ececec;
  text-decoration: none;
  background-color: #999999;
}

nav ul li a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #353535;
}

nav ul li a:visited {
  color: #ececec;
}

/* Round corners */

.round {
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;
}

.wrap{
    width:950px;
    margin:0 auto;
    padding:0;
    border: 2px solid #999999;
    border-top: 5px solid #353535;
}

#media_wrap{
    border: 2px solid #353535;
    border-left: none;
    border-top: none;
    clear: left;
    float: left;
    background-image:url('../images/media_bg.jpg');
    background-repeat: repeat-y;
    margin-right:10px;
}

/* HTML5 slideshow */

#slideshow{
	background-color:#FFFFFF;
	border:none;
	height:400px;
    margin:0px;
	position:relative;
	width:550px;
}

#slideshow ul{
	height:400px;
	list-style:none outside none;
	overflow:hidden;
	position:absolute;
	width:550px;
    margin:0px;
}

#slideshow li{
	position:absolute;
	display:none;
    right:20px;
}

#slideshow li:first-child{
	display:block;
	z-index:1000;
}

#slideshow .slideActive{
	z-index:1000;
}

#slideshow canvas{
	display:none;
	position:absolute;
	z-index:100;
}

#slideshow .arrow{
	height:86px;
	width:60px;
	position:absolute;
	background:url('../images/arrows.png') no-repeat;
	top:50%;
	margin-top:-43px;
	cursor:pointer;
	z-index:5000;
}

#slideshow .previous{ background-position:left top;left:0;}
#slideshow .previous:hover{ background-position:left bottom;}

#slideshow .next{ background-position:right top;right:0;}
#slideshow .next:hover{ background-position:right bottom;}

/* musicians & artists bio page */

#biotext{padding:0px 10px 10px 10px;padding-bottom:0px;margin-bottom:0px;font-size:1.2em;background-color:#999999}

#music{padding:10px 0px 20px 10px;}

.show_m {
    margin:3px;    
}
