<audio autoplay loop>
  <source src="audio/oceanrising/02.ogg" />
  <source src="audio/oceanrising/02.mp3" />
</audio>
  <ul id="navmap">
    <li id="artists">
      <a href="#"></a>
    </li>
    <li id="events">
      <a href="#"></a>
    </li>
    <li id="galleries">
      <a href="#"></a>
    </li>
    <li id="musicians">
      <a href="#"></a>
    </li>
    <li id="artists">
      <a href="#"></a>
    </li>
    <li id="store">
      <a href="#"></a>
    </li> 
    <li id="studio">
      <a href="#"></a>
    </li>
    <li id="blog">
      <a href="#"></a>
    </li>
    <li id="info">
      <a href="#"></a>
    </li>
  </ul>
