<div class="wrap">
  <div id="media_wrap">
    <h3 class="show_m"><%= link_to "<< Show all musicians", musicians_path %></h3>
    <div id="slideshow">
    	<ul class="slide">
      	<li><img src="images/jeff/1.jpg" width="550" height="400" alt="Jeff D'Antona Trio" /></ li>
      	<li><img src="images/jeff/2.jpg" width="550" height="400" alt="Jeff D'Antona Trio" /></ li>
      	<li><img src="images/jeff/3.jpg" width="550" height="400" alt="Jeff D'Antona Trio" /></li>
      	<li><img src="images/jeff/4.jpg" width="550" height="400" alt="Jeff D'Antona Trio" /></li>
      	<li><img src="images/jeff/5.jpg" width="550" height="400" alt="Jeff D'Antona Trio" /></li>
      	<li><img src="images/jeff/6.jpg" width="550" height="400" alt="Jeff D'Antona Trio" /></li>
      	<li><img src="images/jeff/7.jpg" width="550" height="400" alt="Jeff D'Antona Trio" /></li>
      	<li><img src="images/jeff/8.jpg" width="550" height="400" alt="Jeff D'Antona Trio" /></li>
      	<li><img src="images/jeff/9.jpg" width="550" height="400" alt="Jeff D'Antona Trio" /></li>
      	<li><img src="images/jeff/10.jpg" width="550" height="400" alt="Jeff D'Antona Trio" /></li>
      	<li><img src="images/jeff/11.jpg" width="550" height="400" alt="Jeff D'Antona Trio" /></li>
    </ul>
      <span class="arrow previous"></span>
      <span class="arrow next"></span>
    </div>
    <div id="music">
      <ul>
        <li><h2>sample and download <i>Ocean Rising</i>:</h2></li>
        <li><a class="round" href="http://jeffdantona.bandcamp.com/download_tralbum">download full album ($10.00)</a>
        <br /><br />
        <li><a class="round" href="http://jeffdantona.bandcamp.com/track/street-savior?action=download">buy track</a>
        <audio controls autobuffer> 
          <source src="audio/oceanrising/01_(sample).ogg" />
          <source src="audio/oceanrising/01_(sample).mp3" />
        </audio>
	      <span class="tracktitle">01.  Street Savior</span>
	      </li>
        <li><a class="round" href="http://jeffdantona.bandcamp.com/track/ocean-rising?action=download">buy track</a>
        <audio controls autobuffer> 
          <source src="audio/oceanrising/02_(sample).ogg" />
          <source src="audio/oceanrising/02_(sample).mp3" />
        </audio>
	      <span class="tracktitle">02.  Ocean Rising</span>
	      </li>
        <li><a class="round" href="http://jeffdantona.bandcamp.com/track/nude?action=download">buy track</a>
        <audio controls autobuffer> 
          <source src="audio/oceanrising/03_(sample).ogg" />
          <source src="audio/oceanrising/03_(sample).mp3" />
        </audio>
	      <span class="tracktitle">03.  Nude</span>
	      </li>
        <li><a class="round" href="http://jeffdantona.bandcamp.com/track/marks-tune?action=download">buy track</a>
        <audio controls autobuffer> 
          <source src="audio/oceanrising/04_(sample).ogg" />
          <source src="audio/oceanrising/04_(sample).mp3" />
        </audio>
	      <span class="tracktitle">04.  Mark's Tune</span>
	      </li>
        <li><a class="round" href="http://jeffdantona.bandcamp.com/track/small-as-we-are?action=download">buy track</a>
        <audio controls autobuffer> 
          <source src="audio/oceanrising/05_(sample).ogg" />
          <source src="audio/oceanrising/05_(sample).mp3" />
        </audio>
	      <span class="tracktitle">05.  Nude</span>
	      </li>
        <li><a class="round" href="http://jeffdantona.bandcamp.com/track/time-and-time-again?action=download">buy track</a>
        <audio controls autobuffer> 
          <source src="audio/oceanrising/06_(sample).ogg" />
          <source src="audio/oceanrising/06_(sample).mp3" />
        </audio>
	      <span class="tracktitle">06.  Time And Time Again</span>
	      </li>
        <li><a class="round" href="http://jeffdantona.bandcamp.com/track/begin-again?action=download">buy track</a>
        <audio controls autobuffer> 
          <source src="audio/oceanrising/07_(sample).ogg" />
          <source src="audio/oceanrising/07_(sample).mp3" />
        </audio>
	      <span class="tracktitle">07.  Begin Again</span>
	      </li>
        <li><a class="round" href="http://jeffdantona.bandcamp.com/track/svetlana?action=download">buy track</a>
        <audio controls autobuffer> 
          <source src="audio/oceanrising/08_(sample).ogg" />
          <source src="audio/oceanrising/08_(sample).mp3" />
        </audio>
	      <span class="tracktitle">08.  Svetlana</span>
	      </li>
        <li><a class="round" href="http://jeffdantona.bandcamp.com/track/someone-to-watch-over-me?action=download">buy track</a>
        <audio controls autobuffer> 
          <source src="audio/oceanrising/09_(sample).ogg" />
          <source src="audio/oceanrising/09_(sample).mp3" />
        </audio>
	      <span class="tracktitle">09.  Someone To Watch Over Me</span>
	      </li>
        <li><a class="round" href="http://jeffdantona.bandcamp.com/track/the-way-home?action=download">buy track</a>
        <audio controls autobuffer> 
          <source src="audio/oceanrising/10_(sample).ogg" />
          <source src="audio/oceanrising/10_(sample).mp3" />
        </audio>
	      <span class="tracktitle">10.  The Way Home</span>
	      </li>
        <li><a class="round" href="http://jeffdantona.bandcamp.com/track/what-love-is?action=download">buy track</a>
        <audio controls autobuffer> 
          <source src="audio/oceanrising/11_(sample).ogg" />
          <source src="audio/oceanrising/11_(sample).mp3" />
        </audio>
	      <span class="tracktitle">11.  What Love Is</span>
	      </li>
        <li><a class="round" href="http://jeffdantona.bandcamp.com/track/eleanor-rigby?action=download">buy track</a>
        <audio controls autobuffer> 
          <source src="audio/oceanrising/12_(sample).ogg" />
          <source src="audio/oceanrising/12_(sample).mp3" />
        </audio>
	      <span class="tracktitle">12.  Eleanor Rigby</span>
	      </li>
        <li><a class="round" href="http://jeffdantona.bandcamp.com/">buy track</a>
        <audio controls autobuffer> 
          <source src="audio/oceanrising/12_(sample).ogg" />
          <source src="audio/oceanrising/12_(sample).mp3" />
        </audio>
	      <span class="tracktitle">13.  Untitled</span>
	      </li>
      </ul>
    </div>
  </div>
  <div id="biotext">
    <h2>Jeff D'Antona</h2>
    <p>In September of 2008, pianist, composer, and educator Jeff D’Antona, 27, gave this definition of jazz to the Amherst Bulletin:</p><blockquote>"Jazz is about creation... It's a practice in living in the moment. You create something new and beautiful that encompasses everything around you, and then it's gone. And then you do it all over again."</blockquote><p>It is this open philosophy and honest approach to music that makes D’Antona such a singular presence in the Pioneer Valley.</p><p>His playing is lyrical and moody, wielding emotional intensity with technical finesse. His compositions are as diverse as his influences, seamlessly integrating memorable melodies reminiscent of folk and classical themes, jazz harmonies, and the infectious grooves of hip-hop, R&B, and Afro-Cuban styles.</p><p>A lifelong creator of music, D’Antona has collaborated with some of the industry’s most legendary players and up and coming new artists. Together with his trio, D’Antona worked with tenor saxophone legend Archie Shepp to record a film score that was nominated for France’s prestigious Caesar Award. He also works regularly with R&B singer Evelyn Harris of the renowned Sweet Honey in the Rock, and has shared the stage with hip-hop greats Digable Planets, 50 Cent, Rahzel, and RJD2 while touring with the group Cold Duck Complex. A tribute to his diverse musical abilities and background, D’Antona has played national venues that span genres: Boston’s Paradise Rock Club, Vermont’s Higher Ground, Cambridge’s Regattabar, and the world-class Blue Note NYC.</p><p>In 2009, the Jeff D'Antona Trio released the highly anticipated Ocean Rising, the trio’s second disc and first in-studio effort with the Art and Music Factory. The album is a thoughtfully constructed collection of songs in the improvised music tradition featuring D’Antona (piano and Fender Rhodes), Makaya McCraven (drums), and Tristan Gutner (bass).</p><p>Ocean Rising showcases both the subtle, acoustic nature of this jazz piano trio, while tastefully exploring in-studio production techniques derived from hip-hop and rock music. The album’s repertoire is equally traditional and experimental – and the result is a compelling sophomore release to be enjoyed by jazz lovers and non-lovers alike.</p>
    <hr />
  <%= link_to myspace, "http://www.myspace.com/jeffdantona" %>
  </div>
</div>
  
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="javascripts/slideshow.js"></script>
