<div class="wrap">
  <div id="media_wrap">
    <h3 class="show_m"><%= link_to "<< Show all musicians", musicians_path %></h3>
    <div id="slideshow">
    	<ul class="slide">
      	<li><img src="images/jeff/1.jpg" width="550" height="400" alt="Jeff D'Antona Trio" /></ li>
      	<li><img src="images/jeff/2.jpg" width="550" height="400" alt="Jeff D'Antona Trio" /></ li>
      	<li><img src="images/jeff/3.jpg" width="550" height="400" alt="Jeff D'Antona Trio" /></li>
      	<li><img src="images/jeff/4.jpg" width="550" height="400" alt="Jeff D'Antona Trio" /></li>
      	<li><img src="images/jeff/5.jpg" width="550" height="400" alt="Jeff D'Antona Trio" /></li>
      	<li><img src="images/jeff/6.jpg" width="550" height="400" alt="Jeff D'Antona Trio" /></li>
      	<li><img src="images/jeff/7.jpg" width="550" height="400" alt="Jeff D'Antona Trio" /></li>
      	<li><img src="images/jeff/8.jpg" width="550" height="400" alt="Jeff D'Antona Trio" /></li>
      	<li><img src="images/jeff/9.jpg" width="550" height="400" alt="Jeff D'Antona Trio" /></li>
      	<li><img src="images/jeff/10.jpg" width="550" height="400" alt="Jeff D'Antona Trio" /></li>
      	<li><img src="images/jeff/11.jpg" width="550" height="400" alt="Jeff D'Antona Trio" /></li>
    </ul>
      <span class="arrow previous"></span>
      <span class="arrow next"></span>
    </div>
    <div id="music">
      <h3>listen to samples from <i>Ocean Rising</i>:</h3>
      <ul style="list-style-type:none;">
        <li>
          <h4 style="text-align:right;"><a href="http://music.artsandmusicfactory.com/album/ocean-rising?action=download">download album</a> ($10.00)</h4>
        </li>
        <li>
          <object type="application/x-shockwave-flash" data="audio/player.swf" id="audioplayer1" height="24" width="200"><param name="movie" value="audio/player.swf" />
            <param name="FlashVars" value="playerID=audioplayer1&amp;soundFile=audio/oceanrising/01.mp3" />
            <param name="quality" value="high" />
            <param name="menu" value="false" /><param name="wmode" value="transparent" />
    	    </object>
          <span >01. Street Savior<a style="float:right;" href="http://music.artsandmusicfactory.com/track/street-savior?action=download">buy track  <img src="http://bandcamp.com/img/buttons/bandcamp_22x22_blue.png"></a>      
        </li>
        <li>
          <object type="application/x-shockwave-flash" data="audio/player.swf" id="audioplayer2" height="24" width="200">
            <param name="movie" value="audio/player.swf" />
            <param name="FlashVars" value="playerID=audioplayer2&amp;soundFile=audio/oceanrising/02.mp3" />
            <param name="quality" value="high" />
            <param name="menu" value="false" />
            <param name="wmode" value="transparent" />
    	    </object>
          <span >02. Ocean Rising<a style="float:right;" href="http://music.artsandmusicfactory.com/track/ocean-rising?action=download">buy track  <img src="http://bandcamp.com/img/buttons/bandcamp_22x22_blue.png"></a>
          </span>
        </li>
        <li>
          <object type="application/x-shockwave-flash" data="audio/player.swf" id="audioplayer3" height="24" width="200">
            <param name="movie" value="audio/player.swf" />
            <param name="FlashVars" value="playerID=audioplayer3&amp;soundFile=audio/oceanrising/03.mp3" />
            <param name="quality" value="high" />
            <param name="menu" value="false" />
            <param name="wmode" value="transparent" />
  	      </object>
          <span >03. Small As We Are<a style="float:right;" href="http://music.artsandmusicfactory.com/track/small-as-we-are?action=download">buy track  <img src="http://bandcamp.com/img/buttons/bandcamp_22x22_blue.png"></a>
          </span>
        </li>
        <li>
          <object type="application/x-shockwave-flash" data="audio/player.swf" id="audioplayer4" height="24" width="200">
            <param name="movie" value="audio/player.swf" />
            <param name="FlashVars" value="playerID=audioplayer4&amp;soundFile=audio/oceanrising/04.mp3" />
            <param name="quality" value="high" />
            <param name="menu" value="false" />
            <param name="wmode" value="transparent" />
    	    </object>
          <span >04. Nude<a style="float:right;" href="http://music.artsandmusicfactory.com/track/nude?action=download">buy track  <img src="http://bandcamp.com/img/buttons/bandcamp_22x22_blue.png"></a>
          </span>
        </li>
        <li>
          <object type="application/x-shockwave-flash" data="audio/player.swf" id="audioplayer5" height="24" width="200">
            <param name="movie" value="audio/player.swf" />
            <param name="FlashVars" value="playerID=audioplayer5&amp;soundFile=audio/oceanrising/05.mp3" />
            <param name="quality" value="high" />
            <param name="menu" value="false" />
            <param name="wmode" value="transparent" />
  	      </object>
          <span >05. Mark's Tune<a style="float:right;" href="http://music.artsandmusicfactory.com/track/marks-tune?action=download">buy track  <img src="http://bandcamp.com/img/buttons/bandcamp_22x22_blue.png"></a>
          </span>
        </li>
        <li>
          <object type="application/x-shockwave-flash" data="audio/player.swf" id="audioplayer6" height="24" width="200">
            <param name="movie" value="audio/player.swf" />
            <param name="FlashVars" value="playerID=audioplayer6&amp;soundFile=audio/oceanrising/06.mp3" />
            <param name="quality" value="high" />
            <param name="menu" value="false" />
            <param name="wmode" value="transparent" />
    	    </object>
          <span >06. Time And Time Again<a style="float:right;" href="http://music.artsandmusicfactory.com/track/time-and-time-again?action=download">buy track  <img src="http://bandcamp.com/img/buttons/bandcamp_22x22_blue.png"></a>
          </span>
        </li>
        <li>
          <object type="application/x-shockwave-flash" data="audio/player.swf" id="audioplayer7" height="24" width="200">
            <param name="movie" value="audio/player.swf" />
            <param name="FlashVars" value="playerID=audioplayer7&amp;soundFile=audio/oceanrising/07.mp3" />
            <param name="quality" value="high" />
            <param name="menu" value="false" />
            <param name="wmode" value="transparent" />
    	    </object>
          <span >07. Begin Again<a style="float:right;" href="http://music.artsandmusicfactory.com/track/begin-again?action=download">buy track  <img src="http://bandcamp.com/img/buttons/bandcamp_22x22_blue.png"></a>
          </span>
        </li>
        <li>
          <object type="application/x-shockwave-flash" data="audio/player.swf" id="audioplayer8" height="24" width="200">
            <param name="movie" value="audio/player.swf" />
            <param name="FlashVars" value="playerID=audioplayer8&amp;soundFile=audio/oceanrising/08.mp3" />
            <param name="quality" value="high" />
            <param name="menu" value="false" />
            <param name="wmode" value="transparent" />
    	    </object>
          <span >08. Svetlana<a style="float:right;" href="http://music.artsandmusicfactory.com/track/svetlana?action=download">buy track  <img src="http://bandcamp.com/img/buttons/bandcamp_22x22_blue.png"></a>
          </span>
        </li>
        <li>
          <object type="application/x-shockwave-flash" data="audio/player.swf" id="audioplayer9" height="24" width="200">
            <param name="movie" value="audio/player.swf" />
            <param name="FlashVars" value="playerID=audioplayer9&amp;soundFile=audio/oceanrising/09.mp3" />
            <param name="quality" value="high" />
            <param name="menu" value="false" />
            <param name="wmode" value="transparent" />
    	    </object>
          <span >09. The Way Home<a style="float:right;" href="http://music.artsandmusicfactory.com/track/the-way-home?action=download">buy track  <img src="http://bandcamp.com/img/buttons/bandcamp_22x22_blue.png"></a>
          </span>
        </li>    
        <li>
          <object type="application/x-shockwave-flash" data="audio/player.swf" id="audioplayer10" height="24" width="200">
            <param name="movie" value="audio/player.swf" />
            <param name="FlashVars" value="playerID=audioplayer10&amp;soundFile=audio/oceanrising/10.mp3" />
            <param name="quality" value="high" />
            <param name="menu" value="false" />
            <param name="wmode" value="transparent" />
    	    </object>
          <span >10. Someone To Watch Over Me<a style="float:right;" href="http://music.artsandmusicfactory.com/track/someone-to-watch-over-me?action=download">buy track  <img src="http://bandcamp.com/img/buttons/bandcamp_22x22_blue.png"></a>
          </span>
        </li>    
        <li>
          <object type="application/x-shockwave-flash" data="audio/player.swf" id="audioplayer11" height="24" width="200">
            <param name="movie" value="audio/player.swf" />
            <param name="FlashVars" value="playerID=audioplayer11&amp;soundFile=audio/oceanrising/11.mp3" />
            <param name="quality" value="high" />
            <param name="menu" value="false" />
            <param name="wmode" value="transparent" />
    	    </object>
          <span >11. What Love Is<a style="float:right;" href="http://music.artsandmusicfactory.com/track/what-love-is?action=download">buy track  <img src="http://bandcamp.com/img/buttons/bandcamp_22x22_blue.png"></a>
          </span>
      </li>    
      <li>
        <object type="application/x-shockwave-flash" data="audio/player.swf" id="audioplayer12" height="24" width="200"><param name="movie" value="audio/player.swf" /><param name="FlashVars" value="playerID=audioplayer12&amp;soundFile=audio/oceanrising/12.mp3" /><param name="quality" value="high" /><param name="menu" value="false" /><param name="wmode" value="transparent" />
  	    </object>
        <span >12. Eleanor Rigby<a style="float:right;" href="http://music.artsandmusicfactory.com/track/eleanor-rigby?action=download">buy track  <img src="http://bandcamp.com/img/buttons/bandcamp_22x22_blue.png"></a>
        </span>
       </li>    
      </ul>
    </div>
  </div>
  <div id="biotext">
    <h2>Jeff D'Antona</h2>
    <p>In September of 2008, pianist, composer, and educator Jeff D’Antona, 27, gave this definition of jazz to the Amherst Bulletin:<br /><blockquote>Jazz is about creation... It's a practice in living in the moment. You create something new and beautiful that encompasses everything around you, and then it's gone. And then you do it all over again.</blockquote>It is this open philosophy and honest approach to music that makes D’Antona such a singular presence in the Pioneer Valley.<br /><br />His playing is lyrical and moody, wielding emotional intensity with technical finesse. His compositions are as diverse as his influences, seamlessly integrating memorable melodies reminiscent of folk and classical themes, jazz harmonies, and the infectious grooves of hip-hop, R&B, and Afro-Cuban styles.<br /><br />A lifelong creator of music, D’Antona has collaborated with some of the industry’s most legendary players and up and coming new artists. Together with his trio, D’Antona worked with tenor saxophone legend Archie Shepp to record a film score that was nominated for France’s prestigious Caesar Award. He also works regularly with R&B singer Evelyn Harris of the renowned Sweet Honey in the Rock, and has shared the stage with hip-hop greats Digable Planets, 50 Cent, Rahzel, and RJD2 while touring with the group Cold Duck Complex. A tribute to his diverse musical abilities and background, D’Antona has played national venues that span genres: Boston’s Paradise Rock Club, Vermont’s Higher Ground, Cambridge’s Regattabar, and the world-class Blue Note NYC.<br /><br />In 2009, the Jeff D'Antona Trio released the highly anticipated Ocean Rising, the trio’s second disc and first in-studio effort with the Art and Music Factory. The album is a thoughtfully constructed collection of songs in the improvised music tradition featuring D’Antona (piano and Fender Rhodes), Makaya McCraven (drums), and Tristan Gutner (bass).<br /><br />Ocean Rising showcases both the subtle, acoustic nature of this jazz piano trio, while tastefully exploring in-studio production techniques derived from hip-hop and rock music. The album’s repertoire is equally traditional and experimental – and the result is a compelling sophomore release to be enjoyed by jazz lovers and non-lovers alike.</p>
  </div>
</div>
  <%= link_to myspace, "http://www.myspace.com/jeffdantona" %>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="javascripts/slideshow.js"></script>
