<footer class="span-24">
  <div style="float:left;">
  <%= link_to blog_big, blog_path %>
  <%= link_to artsblock_big, artsblock_path %>
  <%= link_to pushkin_big, pushkin_path %>
  <br />
  <span><a href="artsblock">The Arts Block</a>, 289 Main St</span>
  <br />
  <span><a href="pushkin">The Pushkin</a>, 4 Federal St</span>
  <br />
  <span>Greenfield, MA 01301</span>
  </div>

  <div class="fancollector">
  <img style="visibility:hidden;width:0px;height:0px;" border=0 width=0 height=0 src="http://counters.gigya.com/wildfire/IMP/CXNID=2000002.0NXC/bT*xJmx*PTEyODYzMTI*NzA5MTUmcHQ9MTI4NjMxMjQ4MDI4OCZwPTI3MDgxJmQ9ZmFuX2NvbGxlY3Rvcl9maXJzdF9nZW4mZz*x/Jm89MzczZTMzMmU4Zjc4NGY2Y2I1NGVhYTNkYzUzODQ1NTYmb2Y9MA==.gif" /><embed type="application/x-shockwave-flash" src="http://cache.reverbnation.com/widgets/swf/11/fancollector.swf?page_object_id=label_43473&backgroundcolor=999999&font_color=353535&posted_by=label_43473" height="100" width="434" /><br/><a href="http://www.reverbnation.com/gigfinder" onclick="javascript:window.location.href=&quot;http://www.reverbnation.com/c./a4/11/43473/Label/43473/Label/link&quot;; return false;"><img alt="Find Gigs" border="0" height="19" src="http://c2so.reverbnation.com/widgets/content/11/footer.png?1" width="434" /></a><br/><img style="visibility:hidden;width:0px;height:0px;" border=0 width=0 height=0 src="http://www.reverbnation.com/widgets/trk/11/label_43473/label_43473/t.gif"/><a href="http://www.quantcast.com/p-05---xoNhTXVc" target="_blank"><img src="http://pixel.quantserve.com/pixel/p-05---xoNhTXVc.gif" style="display: none" border="0" height="1" width="1" alt="Quantcast"/></a>
  <br />
  <span style="float:right">©2010 Global American Television - All Rights Reserved</a>
  </div>
</footer>
