<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><a href="http://artsandmusicfactory.com/events.html">Events</a></li>
      <li><a href="http://artsandmusicfactory.com/info.html">Info</a></li>
    </ul>
  </nav>
</header>
