<header>
  <%= link_to logo, root_path %>
  <nav>
    <ul>
      <li><a href="http://artsandmusicfactory.com/events.html">EVENTS</a></li>
      <li><a href="http://artsandmusicfactory.com/artists.html">ARTISTS</a></li>
      <li><a href="http://artsandmusicfactory.com/galleries.html">GALLERIES</a></li>
      <li><a href="http://artsandmusicfactory.com/musicians.html">MUSICIANS</a></li>
      <li><a href="http://artsandmusicfactory.com/pushkin-studio.html">PUSHKIN STUDIO</a></li>
      <li><a href="http://artsandmusicfactory.com/store/">STORE</a></li>
      <li><a href="http://artsandmusicfactory.com/blog/">BLOG</a></li>
      <li><a href="info">INFO &amp; CONTACT</a></li>
    </ul>
  </nav>
</header>
